nav {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 15px;
  align-items: center;
}

main {
  width: 90vw;
  margin: 0 auto;
}

#logo {
  width: 250px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}

.Products div {
  width:fit-content;
  padding: 1em;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.Products img {
  width: 350px;
}

/* .card {
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
} */ 

/* On mouse-over, add a deeper shadow */
.Products:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 2px 16px;
}

