/* NavBar CSS */

nav {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 15px;
  align-items: center;
}

/* NavBar CSS */

.App {
  background-color: rgb(253, 246, 236);
}

main {
  width: 90vw;
  margin: 0 auto;
}

#logo {
  width: 250px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}

.Product {
  width:fit-content;
  padding: 1em;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-decoration: none;
  background-color: blanchedalmond;
}

.Products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}


.Products img {
  width: 250px;
}
 Link {
  text-decoration: none;
  color: black;
 }


/* .card {
  /* Add shadows to create the "card" effect */
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
} */ 

/* On mouse-over, add a deeper shadow */
.Product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.cardContainer {
  padding: 2px 16px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid blanchedalmond;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid blanchedalmond;
  box-sizing: border-box;
}

input[type=text]:focus {
  background-color: blanchedalmond;
}

input[type=number]:focus {
  background-color: blanchedalmond;
}

input[type=submit] {
  transition-duration: 0.4s;
  background-color: white;
  border-radius: 6px;
  border-color: black;
}

input[type=submit]:hover {
  background-color: blanchedalmond;
}

.MuiButton-outlined {
  color: black;
}

/* Radio Button CSS */