nav {
  background-color: rgb(37, 36, 34);
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 15px;
  align-items: center;
}

main {
  width: 90vw;
  margin: 0 auto;
}

#logo {
  width: 250px;
}

.Products img {
  width: 350px;
}